
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
:root{
    --font-family: "Nunito Sans", Sans Sarif;
    --bg-container: rgb(238,238,238);
    --text-color: #3e5569;
    --bg-table: #e3e1c9ed;
    --bg-aside-bar: rgb(65,65,65);
    --bg-aside-list: #5f5f5f;
    --bg-nav:#414141;
    --bg-wrapper: rgba(236, 236, 244, 0.973);
    --font : 12px;
    --font-heading: 14px;
    --font-table: 22px;
}
body{
}
header{
    display: flex;
    width: 100%;

}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 90.6vh;
    background-color: var(--bg-nav);
    
}
.sidebar ul{
    list-style: none;
    width: 100%;
}
.sidebar ul li{
    padding: 5px;
    width: 250px;
    background-color: var(--bg-aside-list);
}
.list li a {
    text-decoration: none;
    font-size: var(--font) ;
    color: white;
}
.list li:nth-child(odd)
{
    border-bottom: 0.8px solid white;
}

nav {
  display: flex;
  width: 100%;
  height: 68px;
}

.logo {
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  min-width: 0px;
  background-color: var(--bg-nav);
  padding: 0 15px 0px 0px;
}

.image1 {
  margin-left: 15px;
}

.nav > span {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-right: 15px;
}
font{
    font-size: var(--font);
    color: white;
}
.image2{
  margin-top: 9px;
}
main{
  display: flex;
}
.wrapper_heading{
  background-color: var(--bg-wrapper);
  min-width: 0;
  flex: 1;
}
.h1 {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 20px;
}
.h1 p:nth-child(1){
  font-size: var(--font-heading);
  color: var(--text-color);
  font-weight: 700;
}
.h1 p:nth-child(2)
{
  font-size: var(--font);
  color: var(--text-color);
}
.wrapper{
  padding:  20px;
}
.container1{
  background-color: white;
  padding: 20px;
}
.container1 h4{
  color: var(--text-color);
  margin-bottom: 10px;
  font-size: var(--font-heading);
  font-weight: 600;
}
.container1 h6{
  color: #a1aab2;
  font-size: var(--font);
  font-weight: 300;
}
/* */
.table {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Responsive stretching */
.table-sub {
    width: 60%;          /* allows stretching */
    max-width: 900px;     /* stops over-stretching */
    min-width: 400px;     /* prevents too small */
    text-align: center;
}

/* Normal table behavior */
.table-row {
  width: 60%;
}

.table-data {
    width: 50%;
    padding: 12px;
}




.table  table td{
  text-align: center;
  padding: 3px;
  width: 354px;
  height: 64px;
  margin: 0 2px 0 2px;
  
  
  
}
.table table td:nth-child(1){
  border: 0.8px solid rgb(0, 128, 0);
  background-color: #ebfde3;
  color: var(--text-color);

}
.table table td:nth-child(2)
{
  border: 0.8px solid rgb(0, 51, 153);
  color: var(--text-color);
  background-color: #cdecfe;
}
.table table span{
  color: var(--text-color);
  font-size: var(--font-heading);
  font-weight: 700;
}
.table table td:nth-child(1) p{
  color: #008000;
  font-size: var(--font-table);
  font-weight: 700;

}
.table table td:nth-child(2) p{
  color: #003399;
  font-size: var(--font-table);
  font-weight: 700;

}
.table{
  margin: 25px 0 10px 0;
}
.container2{
  background-color: white;
  padding: 20px;
}
.container2 h4{
  color: var(--text-color);
  margin-bottom: 10px;
  font-size: var(--font-heading);
  font-weight: 600;
}
.container2 h6{
  color: #a1aab2;
  font-size: var(--font);
  font-weight: 300;
}
.wrapper{
  display: flex;
  flex-direction: column;  
  gap: 25px;
  background-color: var(--bg-wrapper);
}
.table2 table{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
}
.table2 table tr td,th{
border: 0.8px solid rgb(211, 211, 211);
}
.table2 table tr td, th{
  padding: 5px;
  color: var(--text-color);
  font-size: var(--font);
  justify-items: center;
}
.table2 table tr th

{
background-color: #e3e1c9ed;
}
.table2 table tr td:nth-child(1), th:nth-child(1){
  width: 60px;
  text-align: center;
}
.table2 table tr td:nth-child(2), th:nth-child(2){
  width: 900px;
  text-align: left;
}
.table2 table tr td:nth-child(3), th:nth-child(3){
  width: 240px;
  text-align: end;
}
.table2{
  margin-top: 20px;
}
@media only screen and (max-width: 760px)
{
  :root{

    --font: 14px;
    --font-heading: 16px;
    --font-table:24px;
  }
  .sidebar{
    display: none;
  }
  header{
    display: none;
  }
  .table table{
    margin: auto;
  }
}
@media only screen and (min-height: 720px)
{
  .sidebar{
    min-height: 100vh;
  }
}
.table table{
  justify-content: center;
  align-items: center;
}
.table{
  width: 100%;

}
.table2 table tr{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}





