* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
button{
    cursor: pointer;
}
pre {
  font-family: Arial, Helvetica, sans-serif;
}
pre h1 {
  font-size: 40px;
  font-weight: 500;
}
pre h1 font {
  color: rgb(255, 94, 0);
}
body > p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(243, 101, 19);
  font-weight: 700;
  margin-bottom: 100px;
  margin-top: 10px;
  font-size: 1.5rem;
}

.wrap {
  width: 80vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  height: 30vh;
}

.check .fa-sharp, .fa-check {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: all 0.6s linear;
}
.check .fa-classes {
  background-color: rgb(250, 38, 9);
  color: white;
}
.check p {
  color: rgb(250, 38, 9);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.check{
    position: relative;
}
.fa-sharp{
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.check p{
  margin-top: 10px;
  height: 10%;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}

.div {
  position: absolute;
  /* left: 100px;
    top: 50px;
    translate: 20px 20px; */
  /* transform: translateX(50%) translateY(-260%); */
  /* left:50%;
  top: 34%; */
  transform: translateX(50%) translateY(-350%);
  height: 7px;
  width: 100%;
  background-color: gray;
  z-index: -1;
}

.check .icon1{
  background-color: rgb(250, 38, 9);
}
.check:last-child .div {
  display: none;
}
.icons{
  background-color: rgb(250, 38, 9);
}
.btns {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.btns button {
  background-color: rgb(250, 38, 9);
  border: none;
  outline: none;
  padding: 15px 40px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}
.line{
  background-color: blue;
}
@media only screen and (max-width: 1040px)
{
  .check p{
  font-size: 1.2rem;
  }
  .btns button{
    font-size: 1.2rem;
    padding: 15px 30px;
  }
}
