*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}
nav{
    

}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    
    
}
ul li
{
    position: relative;
}
ul li{
    padding: 20px 30px;
    /* position: relative; */
}
ul li a{
    position: relative;
text-decoration: none;
color: white;
font-size: 1.3rem;
}

li::after
{
    content: '';
    position: absolute;
    
    height: 3px;
    width: 0;
    left: 14%;
    justify-content: center ;
    bottom: 10px;
    text-align: center;
    background-color: rgb(252, 112, 5);
    transition: all 0.5s linear inherit;
}
li:hover::after{
    width: 80%;
    /* background-color: aqua; */
}
